*.env
*.venv

*/.ipynb_checkpoints/
.zshrce
.DS_Store
*.log
*.pyc
*.png

notebooks/synthetic_3d_inspection.ipynb

side_scripts/*
!side_scripts/augment_dataset.py
!side_scripts/filter_magnifications.py
!side_scripts/split_into_material_types_dirs.py

outputs/
mlruns/
logs/
